[submodule "nvim"]
	path = nvim
	url = ../nvim
[submodule "prezto"]
	path = prezto
	url = ../prezto
[submodule "dotty"]
	path = dotty
	url = http://github.com/vibhavp/dotty
[submodule "compiz-config"]
	path = compiz-config
	url = ../compiz-config
[submodule "emerald-config"]
	path = emerald-config
	url = ../emerald-config
[submodule "scripts"]
	path = scripts
	url = ../scripts
[submodule "tmux"]
	path = tmux
	url = ../tmux
[submodule "gtk-config"]
	path = gtk-config
	url = ../gtk-config
[submodule "i3"]
	path = i3
	url = ../i3
[submodule "vimperator"]
	path = vimperator
	url = ../vimperator
[submodule "polybar"]
	path = polybar
	url = ../polybar
